* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.personal-info .container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
}

.personal-info h2 {
    font-weight: bold; 
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px; 
    color: white;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
}

.personal-info ul {
    list-style: none;
    padding: 0;
}

.resume-section {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume-section ul {
    list-style: none;
}

.resume-section ul li.experience-gap {
    margin-top: 20px;
}

.resume-section ul li a {
    text-decoration: none;
}

.resume-section h3 {
    color: #007bff;
    margin-bottom: 10px;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0;
    margin-top: 20px;
}

.skills {
    list-style: none;
    columns: 2;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
    .personal-info h2 {
        font-size: 30px;
        margin-top: 20px;
    }
    .skills {
        columns: 1;
    }
    .personal-details {
        text-align: center; /* Zentrieren der persönlichen Details auf kleinen Bildschirmen */
    }
}
